<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dataFilter</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <input type="text" placeholder="please input name" v-model="selectWord">
    <button @click="sortType=0">原顺序</button>
    <button @click="sortType=1">年龄升序</button>
    <button @click="sortType=2">年龄降序</button>
    <ul>
        <li v-for="(m,index) in showMeth" :key="m.id">{{m.id}}--{{m.name}}--{{m.sex}}--{{m.age}}</li>
    </ul>
</div>
<script>
    new Vue({
        el: '#root',
        data: {
            selectWord: '',
            meth: [
                {id: 1, name: 'query', sex: 'man',age:2},
                {id: 2, name: 'select', sex: 'man',age:15},
                {id: 3, name: 'insert', sex: 'man',age:4},
                {id: 4, name: 'update', sex: 'man',age:20},
            ],
            sortType:0          //0 yuan 1 sheng 2 jiang 
        },
        computed: {
            showMeth() {
                const arr = this.meth.filter((m) => {
                    return m.name.indexOf(this.selectWord) !== -1
                })
                if(this.sortType){
                    arr.sort((p1,p2)=>{
                        return this.sortType === 1 ? p1.age-p2.age : p2.age-p1.age
                    })
                }
                return arr;
            }
        }
    })
</script>
</body>
</html>